@{
    ViewData["Title"] = "Attendance";
}

@section Styles {
    <link rel="stylesheet" href="~/css/users/attendance.css" />
}

<div class="container mt-1">
    <h4 class="mb-1">Attendance Sheet</h4>
    <div class="row">
        <!-- Left side: Card for form inputs -->
        <div class="col-md-4">
            <form id="attendenceformId">
                <input type="hidden" value="" id="AttendenceId">
                <input type="hidden" value="create" id="operation_type">
                <div class="card p-2">
                    <div class="form-group row align-items-center">
                        <label for="months" class="col-4 col-form-label">Month</label>
                        <div class="col-8">
                            <select class="form-control form-control-sm" id="months" name="month"></select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="years" class="col-4 col-form-label">Year</label>
                        <div class="col-8">
                            <select class="form-control form-control-sm" id="years" name="year"></select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="startDate" class="col-4 col-form-label">Start Date</label>
                        <div class="col-8">
                            <input type="date" id="startDate" name="startDate" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="endDate" class="col-4 col-form-label">End Date</label>
                        <div class="col-8">
                            <input type="date" id="endDate" name="endDate" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-danger px-2" id="cancel_button">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button id="Submit_btn" type="button" class="btn btn-info btn-sm btn-block">Save</button>
                        </div>
                       
                    </div>

                </div>
            </form>
        </div>

        <!-- Right side: Table -->
        <div class="col-md-8">
            <table class="table table-hover table-bordered" id="Attendance_Master_list_table">
                <thead>
                    <tr>
                        <th>Sl.</th>
                        <th>MonthId</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-12" id="spreadsheet"></div>
<button id="update_button" class="btn btn-success btn-sm mt-2" style="display:none;">Save Changes</button>


<div id="attendance-xml-view" class="mt-3"></div>

@section Scripts {
    <script type="text/javascript" src="~/js/users/attendence.js"></script>
}
