@{
    ViewData["Title"] = "Tax Certificate Report";
    var Codes = ViewBag.EmployeeCode as List<SelectListItem>;
}



<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Tax Certificate</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Reports</li>
                <li class="breadcrumb-item">Tax</li>
                <li class="breadcrumb-item active">Tax Certificate</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <form asp-action="GetTaxCertificate" asp-controller="TaxReport">

                    <div class="form-group">
                        <label class="control-label">Employee Code</label>
                        <select name="jobCode" class="form-control" id="jobCode">
                            @foreach (var Code in Codes)
                            {
                                <option value="@Code.Text">@Code.Text</option>
                            }
                        </select>
                    </div>

                    @* <div class="form-group">
                        <label for="month">Month</label>
                        <select class="form-control" id="months" name="month"></select>
                    </div> *@
                    <div class="form-group">
                        <label for="year">Year</label>
                        <select class="form-control" id="years" name="year"></select>
                    </div>
                    
                    <div class="row">
                        <div class="offset-8 col-3">
                            <button type="submit" formtarget="_blank" class="btn btn-primary btn-sm mb-2">generate</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $('#jobCode').select2();
        function getMonthId() {
            let month = $('#months').val();
            let year = $('#years').val();

            return (parseInt(year) * 100) + parseInt(month);
        }

        $.ajax({
            url: '/api/Others/GetMonths',
            type: 'Get',
            async: false,
            dataType: 'json',
            success: function (responseObject) {
                let months = responseObject.data;
                let currentMonth = new Date().getMonth() + 1;
                $('#months').empty();
                $.each(months, function (key, item) {
                    $('#months').append(`<option value=${item.monthId}>${item.monthName}</option>`);

                });
            },
            error: function (responseObject) {
            }
        });

        $.ajax({
            url: '/api/Others/GetYears',
            type: 'Get',
            async: false,
            dataType: 'json',
            success: function (responseObject) {
                let years = responseObject.data;
                let currentYear = new Date().getFullYear();
                $('#years').empty();
                $.each(years, function (key, item) {
                    if (item == currentYear) {
                        $('#years').append(`<option value=${item} selected>${item}</option>`);
                    }
                    else {
                        $('#years').append(`<option value=${item}>${item}</option>`);
                    }
                });
            },
            error: function (responseObject) {
            }
        });
    </script>
}
