
@{
    ViewData["Title"] = "Bank Tags";
}
@section Styles {
    <link rel="stylesheet" href="~/css/banks/tags.css" />
}

<div class="row">
    <div class="col-12">
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                   @*  <div class="d-flex align-items-center flex-grow-1">
                        <select id="filter_select" class="form-control w-50">
                            <option value="">Filter by Bank Tag</option>
                        </select>
                    </div> *@
                    <div class="d-flex flex-grow-1 justify-content-center">
                        @* <h4 class="mb-0">List of Bank Tags</h4> *@
                    </div>
                    <div class="d-flex">
                        <select id="page_length_select" class="form-control w-auto me-2">
                            <option value="100">100 rows</option>
                            <option value="120">120 rows</option>
                            <option value="130">130 rows</option>
                            <option value="150">150 rows</option>
                            <option value="200">200 rows</option>
                        </select>
                        <button type="button" class="btn btn-info" id="add_button">Add Bank Tag</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-bordered col-12" id="bank_tag_list_table">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th>Bank Tag Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bank Tag Form Modal -->
<div class="modal fade" id="bank_tag_modal" tabindex="-1" aria-labelledby="bankTagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bankTagModalLabel">Add Bank Tag</h5>
                <button type="button" class="btn-close ms-auto larger-close-button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="tagForm">
                    <input type="hidden" value="" id="BankTagId" />
                    <input type="hidden" value="create" id="operation_type" />
                    <div class="form-group">
                        <label for="BankTagName">Bank Tag Name <span class="text-danger" title="required">*</span></label>
                        <input type="text" class="form-control" id="BankTagName">
                        <p id="BankTagNameError" class="text-danger error-item"></p>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" class="form-check-input" id="IsActive" name="IsActive" style="margin-left: .5rem; margin-right: .5rem;">
                            <label for="IsActive" class="mb-0" style="margin-left: 2rem;">Is Active</label>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <button type="button" class="btn btn-danger" id="cancel_button">Cancel</button>
                        <button type="button" class="btn btn-success text-dark" id="submit_button">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/banks/tags.js"></script>
}
