@{
    ViewData["Title"] = "Welfare Fund Report";
}


<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Welfare Fund Report</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Reports</li>
                <li class="breadcrumb-item active">Welfare Fund Report</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <form asp-action="WelfareFund" asp-controller="Reports">
                    <div class="form-group">
                        <label for="month">Month</label>
                        <select class="form-control" id="months" name="month"></select>
                        <p id="MonthsError" class="text-danger error-item">@ViewBag.monthsError</p>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <select class="form-control" id="years" name="year"></select>
                        <p id="YearsError" class="text-danger error-item">@ViewBag.yearsError</p>
                    </div>
                    <div class="form-group">
                        <label for="EmployeeTypeId">Employee Type <span class="text-danger" title="required">*</span></label>
                        <select class="form-control" id="EmployeeTypeId" name="employeeTypeId"></select>
                        <p id="EmployeeTypeIdError" class="text-danger error-item">@ViewBag.employeeTypeIdError</p>
                    </div>
                    <div class="row">
                        <div class="offset-8 col-3">
                            <button type="submit" formtarget="_blank" class="btn btn-primary btn-sm mb-2">generate</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadInitialData();

        });
        function getMonthId() {
            let month = $('#months').val();
            let year = $('#years').val();

            return (parseInt(year) * 100) + parseInt(month);
        }

        function loadInitialData() {

            $.ajax({
                url: '/api/Employees/GetEmployeeTypes',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    employeeTypes = responseObject.data;
                    $('#EmployeeTypeId').empty();
                    $('#EmployeeTypeId').append('<option value="0">select one</option>');
                    $.each(employeeTypes, function (key, item) {
                        if (item.id == 1 || item.id == 2) {
                            $('#EmployeeTypeId').append(`<option value=${item.id}>${item.employeeTypeName}</option>`);
                        }

                    });
                },
                error: function (responseObject) {
                }
            });


            $.ajax({
                url: '/api/Others/GetMonths',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    let months = responseObject.data;
                    let currentMonth = new Date().getMonth() + 1;
                    $('#months').empty();
                    $.each(months, function (key, item) {
                        if (currentMonth == parseInt(item.monthId)) {
                            $('#months').append(`<option value=${item.monthId} selected>${item.monthName}</option>`);
                        }
                        else {
                            $('#months').append(`<option value=${item.monthId}>${item.monthName}</option>`);
                        }

                    });
                },
                error: function (responseObject) {
                }
            });


            $.ajax({
                url: '/api/Others/GetYears',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    let years = responseObject.data;
                    let currentYear = new Date().getFullYear();
                    $('#years').empty();
                    $.each(years, function (key, item) {
                        if (item == currentYear) {
                            $('#years').append(`<option value=${item} selected>${item}</option>`);
                        }
                        else {
                            $('#years').append(`<option value=${item}>${item}</option>`);
                        }
                    });
                },
                error: function (responseObject) {
                }
            });

        }
    </script>
}