@{
    ViewData["Title"] = "SMS Service";
}

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="months">Month</label>
                        <select class="form-control" id="months" name="employeeTypeId"></select>
                    </div>
                    <div class="form-group">
                        <label for="years">Year</label>
                        <select class="form-control" id="years" name="employeeTypeId"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="employeeTypeId">Employee Type <span class="text-danger" title="required">*</span></label>
                        <select class="form-control" id="employeeTypeId" name="employeeTypeId"></select>
                    </div>
                    <button type="button" class="btn btn-primary mb-2" id="submit_button">Show</button>
                    <button type="button" class="btn btn-primary mb-2" id="send_button">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-body table-responsive">
                <table class="table table-bordered" id="table" style="display:none;">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="select_all" style="display:inline-block" /> 
                                <label for="select_all" style="display:inline-block">select all</label>
                            </th>
                            <th>Job Code</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Cell Number</th>
                        </tr>
                    </thead>
                    <tbody id="data-table-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/salarysettings/sms_services.js"></script>
}
